<div>

<div class="container">
    <h1 style="text-align: center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Personal Diary</h1>
</div>
<div>
    <table>
        <tr>
        <td>
    
<img src="../../assets/Images/MainImage.jpg"  width="900"  />
</td>   



    <td>
        <div style="margin-left: 100px; margin-top: 200px; width: 900px; height:900px;">
   <h2>Login</h2>
<form >
    <div class="form-group">
        <label for="username">Username</label>
        <input  style="height:25px;font-size:14pt;" type="text" formControlName="username" class="form-control"  />
        
    </div>
    <br/>
    <div class="form-group">
        <label for="password">Password</label>
        <input  style="height:25px;font-size:14pt;" type="password" formControlName="password" class="form-control" />
        
    </div>
    <br/>
    <div class="form-group">
        <button  class="btn btn-primary">
            <span  class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a  style="margin-left: 20px;"routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>
    </div>
</td>

</tr>

</table>
</div>
</div>

